<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Include Components CSS -->
        <link rel="stylesheet" href="{{ site.url }}/assets/bower/bootstrap/dist/css/bootstrap.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        {% include navbar.html %}

        <div class="container">

          {{ content }}

        </div>

        {% include footer.html %}

        <!-- Include Scripts -->
        <script src="{{ site.url }}/assets/bower/jquery/dist/jquery.min.js"></script>
        <script src="{{ site.url }}/assets/bower/bootstrap/dist/js/bootstrap.min.js"></script>

    </body>
</html>
